# Repositórios de referência
thesis-flow/
exemplo-atividade-es-seguro/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Python caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/


# Diretórios de cache e dependências do Python
__pycache__/
*.pyc
.venv/
env/
